@import "src/geekstrap/theme";

.container {
  margin-top: 100px;
}

.tab {
  padding-top: 10px;
  text-align: center;
  color: darkgray;

  @include transition(all, 0.5s, linear);

  &.active {
    color: $blue;
    padding-top: 14px;
  }
}

.row {
  margin-bottom: 10px;
}

.alert-field {
  z-index: 9000;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  text-align: right;
}
