<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">

    <!-- inject:css -->
    <link rel="stylesheet" href="css/main.min.css">
    <!-- endinject -->

  </head>
  <body ng-controller="BodyController" class="container-fluid text-center">

    <modal visible="warningModalVisible">
      <p><h2>Warning!</h2></p>
      <p>An error occurred</p>
      <button class="hover-yellow fa fa-close" ng-click="warningModalShow(false)">Close</button>
    </modal>

    <navbar default="tab2" class="navbar-fixed-top">
      <navbar-tab link="sidebar" activable="false" class="hover-white" ng-mouseenter="setPeek('-250px')">
        <sidebar icon="fa fa-bars" persist="true">
          <sidebar-item icon="fa fa-{{item.icon}}" ng-repeat="item in sidebarItems" ng-click="item.onclick()">{{item.title}}</sidebar-item>
        </sidebar>
      </navbar-tab>
      <navbar-tab style="width: 20%" link="tab2" class="hover-white tab">tab</navbar-tab>
      <navbar-tab style="width: 20%" link="tab3" class="hover-white tab">tab</navbar-tab>
      <navbar-tab style="width: 20%" link="tab4" class="hover-white tab">tab</navbar-tab>
      <navbar-tab style="width: 20%" link="tab5" class="hover-white tab">tab</navbar-tab>
      <navbar-tab style="width: 10%" link="tab5" class="hover-white tab">tab</navbar-tab>
    </navbar>

    <div class="container">
      <div class="row">
        <input type="text" ng-model="bulletTooltip"></input>
      </div>
      <div class="row">
        <bullet logo="img/linkedin-logo.png" class="hover-yellow">
          {{bulletTooltip}}
        </bullet>
        <bullet logo="img/plus-logo.png" class="hover-red" ng-click="warningModalShow(true)">
          {{bulletTooltip}}
        </bullet>
        <bullet logo="img/linkedin-logo.png" class="hover-green">
          {{bulletTooltip}}
        </bullet>
        <bullet logo="img/linkedin-logo.png" class="hover-lightblue">
          {{bulletTooltip}}
        </bullet>
        <bullet logo="img/linkedin-logo.png" class="hover-blue">
          {{bulletTooltip}}
        </bullet>
      </div>
      <div class="row">
        <progress-button model="progress" onload="onload()" class="hover-green" ng-click="doload()">click me</progress-button>
        <progress-button model="progress" onload="onload()" class="hover-red" ng-click="doload()">{{bulletTooltip}}</progress-button>
        <progress-button model="progress" onload="onload()" class="hover-blue" ng-click="doload()">progress button demo</progress-button>
      </div>

      <div class="row">
        <button class="hover-red" ng-click="error('Error')">red alert</button>
        <button class="hover-green" ng-click="alert('Success')">green alert</button>
      </div>

      <div class="alert-field">
        <alert model="alerts"></alert>
      </div>
    </div>

    <slider scroll="scroll">
    <div class="hover-green" style="width: 100px">
      {{bulletTooltip}}
    </div>
    <div class="hover-red" style="width: 100px">
      {{bulletTooltip}}
    </div>
    <div class="hover-yellow" style="width: 100px">
      {{bulletTooltip}}
    </div>
    </slider>
    <button ng-click="doscroll(130)">left</button>
    <button ng-click="doscroll(-130)">right</button>


    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="src/geekstrap/module.js"></script>
    <script src="src/geekstrap/directives/slider.js"></script>
    <script src="src/geekstrap/directives/sidebar.js"></script>
    <script src="src/geekstrap/directives/progress-button.js"></script>
    <script src="src/geekstrap/directives/navbar.js"></script>
    <script src="src/geekstrap/directives/navbar-tab.js"></script>
    <script src="src/geekstrap/directives/modal.js"></script>
    <script src="src/geekstrap/directives/bullet-button.js"></script>
    <script src="src/geekstrap/directives/alert.js"></script>
    <script src="src/app/module.js"></script>
    <script src="src/app/controllers/body-controller.js"></script>
    <!-- endinject -->

  </body>
</html>
