<html ng-app="app">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="src/demo/css/demo.min.css">

    </head>
    <body ng-controller="BodyController" class="container-fluid text-center">

        <navbar default="tab2" class="navbar-fixed-top">
        <navbar-tab link="sidebar" activable="false" class="color-white" ng-mouseenter="setPeek('-250px')">
        <sidebar icon="fa fa-bars" persist="true">
        <sidebar-item icon="fa fa-{{item.icon}}" ng-repeat="item in sidebarItems" ng-click="item.onclick()">{{item.title}}</sidebar-item>
        </sidebar>
        </navbar-tab>
        <navbar-tab style="width: 20%" link="tab2" class="color-white tab">tab</navbar-tab>
        <navbar-tab style="width: 20%" link="tab3" class="color-white tab">tab</navbar-tab>
        <navbar-tab style="width: 20%" link="tab4" class="color-white tab">tab</navbar-tab>
        <navbar-tab style="width: 20%" link="tab5" class="color-white tab">tab</navbar-tab>
        <navbar-tab style="width: 10%" link="tab5" class="color-white tab">tab</navbar-tab>
        </navbar>

        <div class="container">
            <div class="row">
                <input type="text" ng-model="bulletTooltip"></input>
            </div>
            <div class="row">
                <button class="btn btn-icon-fill color-white btn-icon color-red" ng-click="warningModalShow(true)">
                    <i class="fa fa-linkedin"></i>{{bulletTooltip}}
                </button>
                <button class="btn btn-bullet btn-icon color-orange">
                    <i class="fa fa-flag"></i>{{bulletTooltip}}
                </button>
                <button class="btn btn-bullet btn-icon color-yellow">
                    <i class="fa fa-cog"></i>{{bulletTooltip}}
                </button>
            </div>
            <div class="row">
                <progress-button model="progress" onload="onload()" class="raise btn color-green" ng-click="doload()">click me</progress-button>
                <progress-button model="progress" onload="onload()" class="btn shine color-red" ng-click="doload()">{{bulletTooltip}}</progress-button>
                <progress-button model="progress" onload="onload()" class="btn hover color-blue" ng-click="doload()">progress button demo</progress-button>
            </div>

            <div class="row">
                <button class="btn color-purple" ng-click="error('Error')">red alert</button>
                <button class="btn btn-icon" ng-click="alert('Success')">
                    <i class="fa fa-magic"></i>
                    green alert
                </button>
            </div>

            <div class="alert-field">
                <alert model="alerts"></alert>
            </div>
        </div>

        <circular-scroller scroll="scroll" style="height: 50px">
        <button class="btn raise btn-bullet color-white btn-icon color-red" ng-click="warningModalShow(true)">
            <i class="fa fa-linkedin"></i>{{bulletTooltip}}
        </button>
        <button class="btn shine btn-bullet btn-icon color-orange">
            <i class="fa fa-flag"></i>{{bulletTooltip}}
        </button>
        </circular-scroller>
        <div class="btn-group">
            <button ng-click="doscroll(130)" class="raise btn shine btn-icon hover color-orange"><i class="fa fa-arrow-left"></i>left</button>
            <button ng-click="doscroll(-130)" class="btn shine raise btn-icon color-orange"><i class="fa fa-arrow-right"></i>right</button>
        </div>

        <fg-tag-input tags="myTags" autocomplete="name in myAutocomplete" strict></fg-tag-input>

        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <!-- endbower -->

        <!-- inject:js -->
        <script src="/src/demo/js/demo-controller.js"></script>
        <script src="/src/geekstrap/module.js"></script>
        <script src="/src/geekstrap/directives/tag-field/tag-input.js"></script>
        <script src="/src/geekstrap/directives/tag-field/tag-field.js"></script>
        <script src="/src/geekstrap/directives/sidebar/sidebar.js"></script>
        <script src="/src/geekstrap/directives/progress-button/progress-button.js"></script>
        <script src="/src/geekstrap/directives/navbar/navbar.js"></script>
        <script src="/src/geekstrap/directives/circular-scroller/circular-scroller.js"></script>
        <script src="/src/geekstrap/directives/alert/alert.js"></script>
        <script src="/src/geekstrap/services/modal.js"></script>
        <script src="/src/geekstrap/templates.js"></script>
        <!-- endinject -->

    </body>
</html>
