<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">

    <!-- inject:css -->
    <link rel="stylesheet" href="dist/css/main.min.css">
    <!-- endinject -->

  </head>
  <body ng-controller="BodyController" class="container-fluid text-center">

    <modal visible="warningModalVisible">
      <p><h2>Warning!</h2></p>
      <p>An error occurred</p>
      <button class="hover-yellow fa fa-close" ng-click="warningModalShow(false)">Close</button>
    </modal>

    <navbar default="tab2" class="navbar-fixed-top">
      <navbar-tab link="sidebar" activable="false" class="hover-white" ng-mouseenter="setPeek('-250px')">
        <sidebar icon="fa fa-bars" persist="true">
          <sidebar-item icon="fa fa-{{item.icon}}" ng-repeat="item in sidebarItems" ng-click="item.onclick()">{{item.title}}</sidebar-item>
        </sidebar>
      </navbar-tab>
      <navbar-tab style="width: 20%" link="tab2" class="hover-white tab">tab</navbar-tab>
      <navbar-tab style="width: 20%" link="tab3" class="hover-white tab">tab</navbar-tab>
      <navbar-tab style="width: 20%" link="tab4" class="hover-white tab">tab</navbar-tab>
      <navbar-tab style="width: 20%" link="tab5" class="hover-white tab">tab</navbar-tab>
      <navbar-tab style="width: 10%" link="tab5" class="hover-white tab">tab</navbar-tab>
    </navbar>

    <div class="container">
      <div class="row">
        <input type="text" ng-model="bulletTooltip"></input>
      </div>
      <div class="row">
        <button class="btn btn-bullet hover-white btn-icon shadow-white hover-red" ng-click="warningModalShow(true)">
            <i class="fa fa-linkedin"></i>{{bulletTooltip}}
        </button>
        <button class="btn btn-bullet btn-icon hover-orange shadow-orange">
          <i class="fa fa-flag"></i>{{bulletTooltip}}
        </button>
        <button class="btn btn-bullet btn-icon hover-yellow">
            <i class="fa fa-cog"></i>{{bulletTooltip}}
        </button>
      </div>
      <div class="row">
        <progress-button model="progress" onload="onload()" class="btn hover-green shadow-green" ng-click="doload()">click me</progress-button>
        <progress-button model="progress" onload="onload()" class="btn hover-red shadow-red" ng-click="doload()">{{bulletTooltip}}</progress-button>
        <progress-button model="progress" onload="onload()" class="btn hover-blue shadow-blue" ng-click="doload()">progress button demo</progress-button>
      </div>

      <div class="row">
        <button class="btn hover-purple shadow-purple" ng-click="error('Error')">red alert</button>
        <button class="btn shadow-green btn-icon" ng-click="alert('Success')">
            <i class="fa fa-magic"></i>
            green alert
        </button>
      </div>

      <div class="alert-field">
        <alert model="alerts"></alert>
      </div>
    </div>

    <circular-scroller scroll="scroll" style="height: 50px">
    <button class="btn btn-bullet hover-white btn-icon shadow-white hover-red" ng-click="warningModalShow(true)">
        <i class="fa fa-linkedin"></i>{{bulletTooltip}}
    </button>
    <button class="btn btn-bullet btn-icon hover-orange shadow-orange">
        <i class="fa fa-flag"></i>{{bulletTooltip}}
    </button>
    </circular-scroller>
    <button ng-click="doscroll(130)" class="btn btn-icon hover-orange"><i class="fa fa-arrow-left"></i>left</button>
    <button ng-click="doscroll(-130)" class="btn btn-icon hover-orange"><i class="fa fa-arrow-right"></i>right</button>


    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="dist/js/geekstrap.min.js"></script>
    <!-- endinject -->

  </body>
</html>
