@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

.fg-cscroller-wrapper {
    overflow-x: hidden;
    position: relative;
    height: 100%;
    .fg-cscroller-element {
        position: absolute;
    }
}
