<div class="fg-modal fg-modal-fade">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" class="close fa fa-times-circle" ng-click="$modal.dismiss()">
            </button>
            <h4 class="panel-title">Message</h4>
        </div>
        <div class="panel-body">
            Esta seguro?
            <div class="col-xs-12 text-center" ng-show="isLoading">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default"
                ng-click="$modal.dismiss()">
                No
            </button>
            <button type="button" class="btn btn-primary"
                ng-click="$modal.accept()">
                Si
            </button>
        </div>
    </div>
</div>
