@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

@mixin hoverable($color) {
  background-color: $color;
  cursor: pointer;
  &:hover:not(.active) {
    background-color: darken($color, 5%);
  }
}

$yellow: #EFAE1D;
$red: #F93030;
$lightblue: #238FB5;
$blue: #3A69A3;
$green: #35AD28;
$orange: #ED6D26;

.hover-lightblue {
  color: white;
  @include hoverable($lightblue);
}

.hover-green {
  color: white;
  @include hoverable($green);
}

.hover-blue {
  color: white;
  @include hoverable($blue);
}

.hover-yellow {
  color: white;
  @include hoverable($yellow);
}

.hover-red {
  color: white;
  @include hoverable($red);
}

.hover-white {
  @include hoverable(#FFF);
}

.bullet {
  $bullet_height: 40px;
  $bullet_radius: 20px;
  $bullet_padding: 2px;
  $transition_time: 0.2s;

  height: $bullet_height;
  border-radius: $bullet_radius;
  padding: 0 $bullet_radius;
  position: relative;
  border: 0;

  &:hover {
    img {
      left: 50%;
    }

    div {
      opacity: 0;
    }
  }

  img {
    top: 2px;
    left: 20px;
    margin-left: -18px;
    float: left;
    position: absolute;
    @include transition(all, $transition_time, easy-in-out);
    float: right;
    height: 36px;
  }

  div {
    padding-left: 22px;
    @include transition(all, $transition_time, easy-in-out);
  }
}

.navbar {

  position: relative;
  text-align: center;
  display: inline-block;
  .navbar-caret {
    height: 5px;
    width: 100px;
    background-color: $lightblue;
    position: absolute;
    bottom: 0;
    @include transition(all, 0.5s, easy-in-out);
  }

  .navbar-tab {
    float: left;
    min-height: 50px;
  }

  .navbar-tab + .navbar-tab {
    >div {
      min-height: 50px;
      border-left: 1px solid black;
    }
  }
}

.progress-button {
  text-align: center;
  height: 40px;
  display: inline-block;
  @include transition(scaleY, 0.3s, linear);
  overflow: hidden;
  position: relative;
  border: 0;
  padding: 0;
  .content {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    padding: 0 25px;
    @include transition(opacity, 0.3s, linear);
  }
  .progress-button-bar {
    position: absolute;
    height: 40px;
    top: 0;
    opacity: 0;
    background-color: black;
    @include transition(all, 0.3s, linear);
  }
  &.loading {
    .content {
      opacity: 0;
    }
    .progress-button-bar {
      opacity: 0.7;
    }
    @include scaleY(0.3);
  }

}
